/* Общие стили для всей страницы */
body {
    font-family: Arial, sans-serif;
    background-color: #1a1a1a;
    /* Темный фон */
    color: #f7f7f7;
    /* Светлый текст */
    margin: 0;
    padding: 0;
    text-align: center;
}

/* Стиль заголовка */
h1 {
    color: #ff7f00;
    /* Оранжевый */
    margin-top: 20px;
}

/* Формы */
form {
    margin-top: 20px;
}

/* Поле ввода */
input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ff7f00;
    border-radius: 5px;
    background-color: #333333;
    /* Темный фон для поля */
    color: #f7f7f7;
    /* Светлый текст */
    width: 300px;
}

/* Кнопка отправки */
button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #ff7f00;
    /* Оранжевый */
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 10px;
}

button:hover {
    background-color: #e06600;
    /* Тёмный оранжевый при наведении */
}

/* Стиль для результатов поиска */
h2 {
    color: #ff7f00;
    margin-top: 20px;
}

strong {
    color: #ff7f00;
    /* Оранжевый для заголовков записей */
}

/* Результаты поиска */
p {
    margin: 10px;
    font-size: 18px;
}